
img {
  width: 200px;
  height: 200px;
}
body {
  margin: 0;
  padding: 0;
  border: none;
  background-size: contain;
}
h1 {
  text-align: left;
}
.jumbotron {
  background: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),url("../img/thumbs.jpg")no-repeat;
  background-size:1500px;
  background-position: absolute;
}
.img-thumbnail {
  width:250px;
  height:150px;
}
.col-md-4 {
  text-align: center;
}
