/*body {
  background: rgb(118, 81, 75);
  text-align: center;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  border: 5px solid black;
  margin-bottom: 10%;
}


img {
  width: 100px;
}

input {
  padding: 20px
}*/